@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    
    padding: 7px;
  }
  .grid-item {
    font-family: 'Big Shoulders Stencil Display', cursive;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 40px;
    font-size: 20px;
    text-align: center;
  }
  .grid-item p{
    color: rgb(0, 140, 255);
    font-family: 'Staatliches', cursive;
    
  }
  .grid-item button {
    font-family: 'Kirang Haerang', cursive;
    background-color: white;
    color: black;
    border: 2px solid rgb(107, 213, 255); /* Green */
    padding: 3px 5px;
    font-size: 15px;
  }
  .inputt
  {
    font-family: 'Cinzel', serif;
  }
  .credit{
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: small;
  }