@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    
    padding: 7px;
  }
  .grid-items {
    font-family: 'Cinzel', serif;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 40px;
    font-size: 20px;
    
  }
  h1{
    font-family: 'Cinzel', serif;
    text-align: center;
  }
  a:link, a:visited {
    font-family: 'Cinzel', serif;
    background-color: white;
    color: black;
    border: 2px solid rgb(82, 52, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(27, 31, 255);
    color: white;
  }
  .flexx{
    display: flex;
    justify-content: space-evenly;
  }
  .flexx p{
    font-family: 'Staatliches', cursive;
  }
  .credit{
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: small;
  }